version: "3"
services:  
  mongo:
    container_name: mongo-enterprise
    image: mongo-enterprise
    build:
      context: .
      args:
        MONGO_PACKAGE: mongodb-enterprise
        MONGO_REPO: repo.mongodb.com
    ports:
      - "3030:27017"
    volumes:
      - /data/db/tara-db-prod:/data/db